<app-control-panel (generateAction)="generate($event)"></app-control-panel>


<div fxLayout="row" fxLayoutAlign="center">

  <div class="teamTable-container">

    <ng-container *ngFor="let item of teams; trackBy: trackFunction; let index = index">

      <div class="teams-table-item" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1rem">
        <div fxFlex="">{{item.id }}</div>
        <div fxFlex="30">{{item?.teams[0].name }}</div>
        <div fxFlex="10">{{item?.teams[0].win | number: '1.3'}}</div>
        <div fxFlex="30">{{item?.teams[1].name}}</div>
        <div fxFlex="10">{{item?.teams[1].win | number: '1.3'}}</div>
        <div fxFlex="">{{item?.draw | number: '1.3'}}</div>
      </div>

    </ng-container>
  </div>
</div>
