.teamTable-container
  width: 100%
  max-width: 800px
  padding: 1rem

.teams-table-item
  border-bottom: 1px solid rgba(128, 128, 128, 0.51)
  padding: 0.7rem 0
  &:last-child
    border-bottom: none
  div
    &:first-child
      padding-left: .5rem
