<mat-toolbar class="toolbar">
  <div fxLayout="row wrap" fxLayoutAlign="" fxLayoutGap="2rem">

    <div>RL-2020</div>

    <div fxLayout="row" fxLayoutGap="4px">
      <button mat-flat-button color="accent" (click)="pullingStart(pullingRate.value)">Start</button>
      <button mat-flat-button color="warn" (click)="pullingStop()">Stop</button>
      <input [formControl]="pullingRate" fxLayoutAlign="center"
             (change)="pullingRate.setValue(pullingRate.value > 0 ? pullingRate.value : pullingRate.value*-1) ; pullingStart(pullingRate.value )"
             type="number" >
    </div>

    <div fxLayout="row" fxLayoutGap="4px">
      <button mat-flat-button color="accent" (click)="emitGenerateAction(generateSize.value)">Generate</button>
      <input [formControl]="generateSize" fxLayoutAlign="center"
             (change)="generateSize.setValue(generateSize.value > 0 ? generateSize.value : generateSize.value*-1) "
             type="number">
    </div>

  </div>
</mat-toolbar>

