.toolbar
  input
    width: 3rem
    text-align: right
  &[type=number]
    -moz-appearance: textfield
  input::-webkit-inner-spin-button, input::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0 .3rem
