<div fxLayout="column" fxLayoutAlign="start center" style="height: 100vh">
  <div style="margin-top: 30vh">
    <h2>Recruitment Task for Betsys</h2>
    <p>RafaeL Randem 2020/08/02 </p>
    <button mat-flat-button color="primary" [routerLink]="['/teams']" >Let's start</button>

  </div>
</div>
